.catalog_content_issue_wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
}

.catalog .catalog_content_issue {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 5%;
}

.catalog .catalog_content_issue p {
   margin-bottom: 1%;
}

.catalog .catalog_content_issue input {
   width: 300px;
   height: 30px;
   margin: 5%;
   border: 2px solid #D7B399;
   border-radius: 5px;
   padding: 3px;
}

.catalog .catalog_content_issue_input {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
}

.catalog .catalog_content_issue .reg {
   width: 310px;
   height: 40px;
   font-weight: normal;
   font-size: 20px;
}

.catalog .catalog_content_issue .reg:active {
   box-shadow: 0 0 10px #D7B399;
   font-size: 21px;
   animation: rotate-button 0.2s forwards;
}

@keyframes rotate-button {
   from {
      font-size: 21px;
      transform: rotateX(0);
   }

   to {
      font-size: 22px;
      transform: rotateX(360deg);
   }
}