.catalog .catalog_title_cart {
   width: 100%;
   display: flex;
   justify-content: center;
}

.catalog .catalog_title_cart h3 {
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 2%;
   text-transform: capitalize;
}

.catalog .catalog_content_cart {
   width: 100%;
   text-align: left;
   margin-top: 2%;
}

.catalog .catalog_content_cart p {
   font-size: 18px;
   font-weight: bold;
}

.cart_table a {
   text-decoration: none;
   color: #000;
   font-weight: bold;
}

.cart_table th div {
   text-align: left;
}

.cart_table .del {
   width: 5%;
   text-align: center;
}

.cart_table .delete {
   background-image: url(/template/images/delete_cart.png);
   background-size: contain;
}