.catalog .order_issue {
   text-decoration: none;
   color: #000;
   font-size: 20px;
   padding: 10px;
}

.catalog .order_issue:hover {
   padding: 10px;
   border-radius: 3px;
   cursor: pointer;
   color: #fff;
   background-color: #D7B399;
}